/* globals.css */

@import "tailwindcss";

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .bhutuka-expanded-one-regular {
    font-family: "Bungee Shade", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
}


/* globals.css */
@keyframes infinity-scroll-left {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}

.scroll-infinity__wrap {
  display: flex;
  overflow: hidden;
}

.scroll-infinity__list {
  display: flex;
  list-style: none;
  padding: 10px;
  margin: 30px;
  gap: 30px;
}

.scroll-infinity__list--left {
  animation: infinity-scroll-left 100s infinite linear both;
}

.scroll-infinity__item {
  width: calc(100vw / 6); /* 6つのアイテムを表示 */
}

.scroll-infinity__item > img {
  width: 100%;
}

.rampart-one-regular {
  font-family: "Rampart One", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.bungee-shade-regular {
  font-family: "Bungee Shade", sans-serif;
  font-weight: 400;
  font-style: normal;
}
